.container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container__sidebar {
  width: 224px;
  height: 100%;
  padding: 32px;
  background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container__btn-reset {
  all: none;
  border: none;
  color: white;
  background-color: #F0C551;
  padding: 18px 58px;
  border-radius: 6px;
  cursor: pointer;
}

.container__cards {
  width: calc(100vw - 224px);
  height: 100%;
  padding: 132px 83px;

  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 136px;
  height: 236px;
  margin-right: 32px;
  margin-bottom: 32px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.congrats {
  width: 100%;
  background-image: url('../../assets/congrats.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}